.Nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}


















.rootClassName18 {
  align-self: center;
}

.rootClassName20 {
  align-self: center;
}

.rootClassName22 {
  align-self: center;
}

.rootClassName24 {
  align-self: center;
}

.rootClassName26 {
  align-self: center;
}

@media(max-width: 767px) {
  .Nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .text {
    margin-bottom: var(--dl-space-space-unit);
  }
}
