.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .Header {
    top: 0px;
    left: 0px;
    width: 100%;
    margin: auto;
    display: flex;
    position: absolute;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .image {
    height: 2rem;
  }
  .Nav {
    display: flex;
  }
  .button {
    align-self: center;
  }
  .BtnGroup {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .MenuBurger {
    display: none;
  }
  .icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: none;
  }
  .Nav1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .Container1 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .image1 {
    height: 2rem;
  }
  .icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .Sidebar {
    width: 300px;
    height: 80vh;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .NavItem {
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .navlink {
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .text {
    text-transform: uppercase;
  }
  .NavItem1 {
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .text01 {
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .text02 {
    text-transform: uppercase;
  }
  .text03 {
    text-transform: capitalize;
  }
  .Options {
    display: flex;
    margin-left: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .navlink1 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .text04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navlink2 {
    text-decoration: none;
  }
  .NavItem2 {
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .text05 {
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .text06 {
    text-transform: uppercase;
  }
  .Options1 {
    display: flex;
    margin-left: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .text07 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .text08 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .container2 {
    top: var(--dl-space-space-sixunits);
    flex: 0 0 auto;
    left: 290px;
    right: 0px;
    width: 909px;
    height: 100px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .container3 {
    top: 237px;
    left: 290px;
    right: 0PX;
    width: 909px;
    height: 268px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .container4 {
    top: 557px;
    left: 290px;
    right: 0px;
    width: 909px;
    height: 268px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  @media(max-width: 991px) {
    .icon {
      display: flex;
    }
  }
  @media(max-width: 767px) {
    .Header {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .Nav {
      display: none;
    }
    .BtnGroup {
      display: none;
    }
    .MenuBurger {
      display: flex;
    }
  }
  @media(max-width: 479px) {
    .Header {
      padding: var(--dl-space-space-unit);
    }
    .MenuMobile {
      padding: 16px;
    }
  }
  