.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.container1 {
  top: 105px;
  left: 291px;
  width: 736px;
  height: 305.3999996185303px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image {
  top: 6px;
  left: 0px;
  width: 280px;
  height: 251px;
  position: absolute;
  object-fit: cover;
}
.text {
  top: 0px;
  right: 150px;
  position: absolute;
}
.text01 {
  left: 9px;
  bottom: -39px;
  position: absolute;
}
.button {
  left: 337px;
  bottom: 33px;
  position: absolute;
}
.button1 {
  right: 30px;
  bottom: 35px;
  position: absolute;
}
.container2 {
  width: 206px;
  height: 702px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.navlink {
  display: contents;
}
.image1 {
  width: 172px;
  height: 165px;
  object-fit: cover;
  text-decoration: none;
}
.text06 {
  top: 306px;
  left: 81px;
  position: absolute;
}
.text07 {
  color: #fb0707;
}
.text08 {
  color: #f30529;
}
.text09 {
  top: 285px;
  left: 54px;
  margin: auto;
  position: absolute;
}
.text10 {
  top: 103px;
  left: 335px;
  color: #e80808;
  position: absolute;
  font-size: 30px;
}