.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Header {
  top: 0px;
  left: 0px;
  width: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.Nav {
  display: flex;
}
.BtnGroup {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navlink {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.video {
  top: 146px;
  width: 433px;
  height: 240px;
  margin: auto;
  position: absolute;
}
.text {
  top: 396px;
  left: 8px;
  position: absolute;
}
.container2 {
  top: 444px;
  right: -3px;
  width: 100%;
  height: 236px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: flex-start;
}
.navlink1 {
  display: contents;
}
.image {
  top: 29px;
  left: 40px;
  width: 151px;
  height: 141px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.text1 {
  top: 179px;
  left: 44px;
  margin: auto;
  position: absolute;
}
.text2 {
  left: 132px;
  color: #f50b0b;
  bottom: 14px;
  position: absolute;
}
@media(max-width: 767px) {
  .Header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .Nav {
    display: none;
  }
  .BtnGroup {
    display: none;
  }
}
@media(max-width: 479px) {
  .Header {
    padding: var(--dl-space-space-unit);
  }
}
