.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.container1 {
  top: 231px;
  right: 22px;
  width: 402.20001220703125px;
  height: 302.4000015258789px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.text {
  top: 8px;
  left: 59px;
  position: absolute;
}
.Input {
  top: 0px;
  left: 147.20001220703125px;
  position: absolute;
  align-self: flex-end;
  text-align: left;
  text-transform: lowercase;
}
.text1 {
  top: 75px;
  left: 63px;
  position: absolute;
}
.textinput {
  top: 63px;
  left: 147.20001220703125px;
  position: absolute;
}
.text2 {
  top: 138px;
  left: 2px;
  position: absolute;
}
.textinput1 {
  top: 130px;
  right: 0px;
  position: absolute;
}
.text3 {
  left: 36px;
  bottom: 83px;
  position: absolute;
}
.textinput2 {
  right: 0px;
  bottom: 72px;
  position: absolute;
}
.button {
  right: var(--dl-space-space-fourunits);
  width: 142px;
  bottom: 21px;
  position: absolute;
  text-align: center;
  background-color: var(--dl-color-primary-100);
}
.text4 {
  color: #ffffff;
  text-align: center;
}
.Header {
  top: 0px;
  left: 0px;
  width: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.image {
  height: 2rem;
}
.Nav {
  display: flex;
}
.BtnGroup {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.MenuBurger {
  display: none;
}
.icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.Nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.image1 {
  height: 2rem;
}
.icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .Header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .Nav {
    display: none;
  }
  .BtnGroup {
    display: none;
  }
  .MenuBurger {
    display: flex;
  }
}
@media(max-width: 479px) {
  .Header {
    padding: var(--dl-space-space-unit);
  }
  .MenuMobile {
    padding: 16px;
  }
}
