.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.textinput {
  top: 143px;
  left: 471px;
  position: absolute;
}
.image {
  top: 206px;
  left: 485px;
  width: 233px;
  height: 223px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.text {
  top: 462px;
  left: 392px;
  margin: auto;
  position: absolute;
}
.textinput1 {
  top: 453px;
  left: 504px;
  position: absolute;
}
.text1 {
  top: 520px;
  left: 397px;
  position: absolute;
}
.textinput2 {
  top: 512px;
  left: 503px;
  position: absolute;
}
.text2 {
  top: 573px;
  left: 372px;
  position: absolute;
}
.textinput3 {
  top: 567px;
  left: 503px;
  position: absolute;
}
.text3 {
  top: 632px;
  left: 390px;
  margin: auto;
  position: absolute;
}
.textarea {
  top: 629px;
  left: 514px;
  position: absolute;
}
.button {
  top: 264px;
  left: 838px;
  width: 172px;
  height: 44px;
  position: absolute;
}
.button1 {
  top: 346px;
  left: 855px;
  width: 127px;
  height: 36px;
  position: absolute;
}
.text4 {
  top: 201px;
  left: 832px;
  position: absolute;
}
