.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.textinput {
  top: 143px;
  left: 471px;
  position: absolute;
}
.image {
  top: 206px;
  left: 485px;
  width: 233px;
  height: 223px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.text {
  top: 461px;
  left: 390px;
  margin: auto;
  position: absolute;
}
.textinput1 {
  top: 453px;
  left: 504px;
  position: absolute;
}
.text1 {
  top: 520px;
  left: 394px;
  position: absolute;
}
.textinput2 {
  top: 512px;
  left: 503px;
  position: absolute;
}
.text2 {
  top: 572px;
  left: 365px;
  position: absolute;
}
.textinput3 {
  top: 567px;
  left: 503px;
  position: absolute;
}
.text3 {
  top: 706px;
  left: 382px;
  margin: auto;
  position: absolute;
}
.textarea {
  top: 689px;
  left: 505px;
  position: absolute;
}
.button {
  top: 264px;
  left: 838px;
  width: 172px;
  height: 44px;
  position: absolute;
}
.button1 {
  top: 348px;
  left: 862px;
  width: 127px;
  height: 36px;
  position: absolute;
}
.text4 {
  top: 201px;
  left: 832px;
  position: absolute;
}
.text5 {
  top: 633px;
  left: 389px;
  margin: auto;
  position: absolute;
}
.textinput4 {
  top: 625px;
  left: 503px;
  position: absolute;
}
